<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-account-tab" href="#v-pills-account" data-toggle="pill" role="tab" aria-controls="v-pills-account" aria-selected="true" >Account</a>
    <a class="nav-link" id="v-pills-details-tab" href="#v-pills-details" data-toggle="pill" role="tab" aria-controls="v-pills-details" aria-selected="false" >Details</a>
    <a class="nav-link" id="v-pills-preferences-tab" href="#v-pills-preferences" data-toggle="pill" role="tab" aria-controls="v-pills-preferences" aria-selected="false" >Preferences</a>
    <a class="nav-link" id="v-pills-threads-tab" href="#v-pills-threads" data-toggle="pill" role="tab" aria-controls="v-pills-threads" aria-selected="false" >My Threads</a>
    <a class="nav-link" id="v-pills-posts-tab" href="#v-pills-posts" data-toggle="pill" role="tab" aria-controls="v-pills-posts" aria-selected="false" >My Posts</a>
</div>
