<h2 class="text-light">Threads</h2>
<hr>
<div class="<%= 'card-columns ' if current_user.thread_theme != 'full' %>post-container" id="<%= current_user.thread_theme %>">
    <% @root_posts.each do |root_post| %>
        <%= render 'root_posts/root_post_' + current_user.thread_theme, board: root_post.board, root_post: root_post %>
    <% end %>
</div>

<br>

<h2 class="text-light">Posts</h2>
<hr>
<div class="post-container">
    <%= render @child_posts %>
</div>
