<div class="card float-form">
  <div class="text-icon">>_</div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field only">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email" %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit "send reset instructions" %>
    </div>
  <% end %>
</div>
