<% content_for :title, "Home" %>

<div class="card text-light graph-card">
    <div class="row">
        <div class="col-md-9">
            <%= area_chart charts_posts_by_hour_path, height: '375px', points: false, colors: @colors, refresh: 300, title: 'Posts Created', library: @options[:line] %>
        </div>
        <div class="col-md-3">
            <%= column_chart charts_posts_path, height: '375px', stacked: true, colors: @colors, refresh: 300, library: @options[:bar] %>
        </div>
    </div>
</div>
<div class="card text-light graph-card">
    <div class="row">
        <div class="col-md-9">
            <%= area_chart charts_messages_path, height: '375px', colors: @colors, refresh: 300, points: false, title: 'Messages Sent', library: @options[:line] %>
        </div>
        <div class="col-md-3">
            <%= pie_chart charts_rooms_path, height: '375px', donut: true, colors: @colors, refresh: 300, library: @options[:donut] %>
        </div>
    </div>
</div>
