<nav class="board-link" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%= link_to board.abbreviation, board, class: ['board-abbreviation', 'hash-color', 'text-' + get_hash_color(board.name)] %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= board.name %></li>
  </ol>
</nav>
