<div class="col-md-auto">
  <div class="row justify-content-md-center boards">

    <nav class="site-info board-link" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item info" aria-current="page"><%= link_to '/pages/info', class: ['card-link', 'board-abbreviation'] do %><i class="material-icons">info</i><% end %></li>
        <li class="breadcrumb-item active" aria-current="page">Info</li>
      </ol>
    </nav>
    
    <% @boards.each do |board| %>
      <%= render 'board', board: board %>      
    <% end %>
  </div>
</div>
