<% content_for :title, 'Boards' %>
<div class="col-md-auto">
  <div class="row justify-content-center boards">
    <% @boards.each do |board| %>
      <%= render 'board', board: board %>      
    <% end %>
  </div>
</div>
