<div class="post-form" id="thread">
  <div class="form-handle"><i class="material-icons">drag_handle</i></div>
  <%= render partial: 'root_posts/form', locals: { root_post: @root_post } %>
</div>

<% if current_user.thread_theme == "full" %>
  <div class="threads full">
    <% @root_posts.each do |root_post| %>
      <%= render 'root_posts/root_post_full', root_post: root_post %>
    <% end %>
  </div>
<% elsif current_user.thread_theme == "card" %>
  <div class="threads card">
    <% @root_posts.each do |root_post| %>
      <%= render 'root_posts/root_post_card', root_post: root_post %>
    <% end %>
  </div>
<% end %>
