<div class="post-form" id="thread">
  <div class="form-handle"><i class="material-icons">drag_handle</i></div>
  <%= render partial: 'root_posts/form', locals: { root_post: @root_post } %>
</div>

<div class="post-wrapper">
  <% @stickies.each do |root_post| %>
    <%= render 'root_posts/root_post_' + current_user.thread_theme, root_post: root_post %>
  <% end %>
  <% @root_posts.each do |root_post| %>
    <%= render 'root_posts/root_post_' + current_user.thread_theme, root_post: root_post %>
  <% end %>
</div>
