<button type="button" class="btn btn-primary btn-circle" data-toggle="modal" id="new-thread-button" data-target="#newThreadModal"><i class="material-icons">add_circle</i></button>

<div class="modal fade" id="newThreadModal" tabindex="-1" role="dialog" aria-labelledby="newThreadModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newThreadModalTitle">Create New Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render partial: 'rooms/form', locals: { room: @room } %>
    </div>
  </div>
</div>

<div class="col-md-auto">
  <div class="row justify-content-center rooms">
    <%= render @rooms %>
  </div>
</div>
