<div class="new-thread">
  <%= link_to new_root_post_path do %>
    <i class="material-icons">control_point</i>
  <% end %>
</div>

<% @root_posts.reverse_each do |root_post| %>
  <%= render root_post, root_post: root_post %>
<% end %>
