<button type="button" class="btn btn-primary btn-circle" data-toggle="modal" id="new-child-post-button" data-target="#newChildPostModal"><i class="material-icons">add_circle</i></button>

<div class="modal fade" id="newChildPostModal" tabindex="-1" role="dialog" aria-labelledby="newChildPostModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newChildPostdModalTitle">Create New Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render partial: 'child_posts/form', locals: { child_post: @child_post } %>
    </div>
  </div>
</div>

<%= render 'root_post_full', board: @root_post.board, root_post: @root_post %>

<% @child_posts.each do |child_post| %>
  <%= render child_post, child_post: child_post %>
<% end %>
