<div class="post-form" id="child_post">
  <div class="form-handle"><i class="material-icons">drag_handle</i></div>
  <%= render partial: 'child_posts/form', locals: { child_post: @child_post } %>
</div>
 
<%= render 'root_post_full', root_post: @root_post %>

<% @child_posts.each do |child_post| %>
  <%= render child_post, child_post: child_post %>
<% end %>
