/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 $blue:    #5F87AF !default; //
 $indigo:  #6610f2 !default;
 $purple:  #A25576 !default; //~
 $pink:    #e83e8c !default;
 $red:     #9A4C4C !default; //
 $orange:  #fd7e14 !default;
 $yellow:  #D7D787 !default; //
 $green:   #87AF5F !default; //
 $teal:    #20c997 !default;
 $cyan:    #87AFD7 !default; //
 $white:   #E8E8E8 !default; //
 
 $colors: (
   blue: $blue,
   indigo: $indigo,
   purple: $purple,
   pink: $pink,
   red: $red,
   orange: $orange,
   yellow: $yellow,
   green: $green,
   teal: $teal,
   cyan: $cyan,
   white: $white,
 ) !default;
 
 $theme-colors: (
   primary: $blue,
   success: $green,
   info: $cyan,
   warning: $yellow,
   danger: $red,
 ) !default;

@import "bootstrap";
@import "rouge";
@import "navbar";
@import "boards";
@import "posts";
@import "forms";

:root
{
    --bg:       #313131;
    
    --red:      #9A4C4C;
    --green:    #87AF5F;
    --yellow:   #D7D787;
    --blue:     #5F87AF;
    --magenta:  #A25576;
    --cyan:     #87AFD7;
    --white :   #E8E8E8;

    --font01 :    var(--white);
    --font02 :  #A9A598;
    --font03 :  #848176;
    --base01 :  #4B4B4B;
    --base02 :  #444444;
    --base03 :  #3C3C3C;
}

body
{
    background: var(--bg);
    font-family: 'Open Sans', sans-serif !important;
}

body > .alert
{
    position: relative;
    top: 56px;
}

.alert
{
    border-radius: 0;
}

.container
{
    margin-top: 56px;
    padding: 30px 0;
}

.card
{
    border: none;
    background: var(--base01);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

.post-form
{
    position: fixed;
    bottom: 0;
    right: 0;
}

pre.highlight { padding: 15px 0; }
.info-page pre.highlight { padding: 15px; }

.highlight,
.highlight .w
{
    border-radius: 3px;
    background: var(--bg);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

hr
{
    height: 2px;
    border-width: 0;
    background-color: var(--base02);
}

mark
{
    background-color: yellow;
}

table 
{
    border-collapse: collapse;
    padding: 10px;
    background: var(--bg);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

thead { background: var(--blue); }

th, td
{
    padding: 10px;
    border: 1px var(--base02) solid;
}

blockquote
{
    background: var(--base02);
    border-left: 10px solid var(--green);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before
{
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after { content: no-close-quote; }

blockquote p { display: inline; }

.spoiler { border-left: 10px solid var(--red); background: var(--base03);}

.spoiler:before { content: no-open-quote; }

.spoiler,
.spoiler > * 
{
    transition: color 0.1s, opacity 0.1s
}

.spoiler:not(:hover)
{
    color: transparent;
}

.spoiler:not(:hover) > *
{
    opacity: 0
}

a.quote
{
    text-decoration: none;
    color: var(--font02);
}
a.quote:hover { color: var(--font01);}

.img-expand
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.49);
    z-index: 9999;
}

.img-expand img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75vh;
    max-width: 85vw;
}

@include media-breakpoint-only(xs) {
    .row
    {
        margin-left: 0;
        margin-right: 0;
    }
}
