/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root
{
    --bg:       #313131;
    
    --red:      #9A4C4C;
    --green:    #87AF5F;
    --yellow:   #D7D787;
    --blue:     #5F87AF;
    --magenta:  #A25576;
    --cyan:     #87AFD7;
    --white :   #E2DED3;

    --font01 :    var(--white);
    --font02 :  #A9A598;
    --base01 :  #4B4B4B;
    --base02 :  #444444;
    --base03 :  #3C3C3C;
}

html 
{
    background: var(--bg);
}

body
{
    margin: 0;
    background: transparent;
    color: var(--font01);
    font-family: 'Open Sans', sans-serif !important;
}

.highlight,
.highlight .w
{
    border-radius: 3px;
    background: var(--bg);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

a,
a:visited
{
    color: var(--font01);
    transition: all 0.2s;
}

a:hover
{
    color: var(--font02);
    background: none;
}

p.alert
{
    margin-top: -10px;
    margin-bottom: 23px;
    padding: 20px;
    border-radius: 3px;
    background: var(--cyan);
}

p.alert.alert-success { background: var(--green); }
p.alert.alert-danger { background: var(--red); }

input:focus,
textarea:focus
{
    outline: none
}

#error_explanation
{
    position: fixed;
    top: 75px;
    left: calc(50% - 225px);
    border: 0;
    border-radius: 5px 5px 3px 3px;
    color: var(--base01);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

#error_explanation h2
{
    border-radius: 3px 3px 0 0;
    background: var(--red);
}

.field_with_errors
{
    padding: 0;
    background: var(--red);
}

.field_with_errors input::placeholder,
.field_with_errors textarea::placeholder
{
    color: var(--white);
}

.field_with_errors input,
.field_with_errors textarea
{
    color: var(--white);
    background: var(--red) !important;
}

.card.child_post .body .field_with_errors,
.card.child_post .body .field_with_errors textarea
{
    border-radius: 3px 3px 0 0;
}

.card.edit-user .current-password .field_with_errors 
{
    border-radius: 0 0 3px 3px;
}

/******************************************************************

Login/Registration/Reset

*******************************************************************/

.card.login,
.card.register,
.card.password-reset,
.card.edit-user,
.card.thread,
.card.child_post
{
    display: inline-block;
    position: absolute;
    top: calc(50% - 143.5px);
    left: calc(50% - 125px);
    width: 250px;
    
    padding: 0;
    border-radius: 3px;
    color: var(--white);
}

.card.edit-user,
.card.thread,
.card.child_post
{ margin-top: -56px; }

.card .text-icon
{
    font-size: 120px;
    margin-bottom: 75px;
}

.card .field
{
    margin: 0;
}

.card .body
{
    border-radius: 3px 3px 0 0;
    background: var(--white);
}

.card .file 
{
    padding-top: 10px;
    color: var(--base01);
    background: var(--white)
}

.card input,
.card textarea
{
    font-family: 'Open Sans', sans-serif !important;
}

.card input
{
    width: 240px;
    height: 30px;
    padding: 5px;
    border: 0;
    background: var(--white);
}

.card textarea
{
    resize: none;
}

.card input#root_post_picture,
.card input#child_post_picture
{
    background:none;
}

.card input[type="submit"]
{
    height: 30px;
    padding: 5px;
    border-radius: 0 0 3px 3px;
    border: 0;
    width: 100%;
    color: var(--white);
    background: var(--green);
}

.card.edit-user .submit input
{ border-radius: 3px; }

.card.login input#user_email,
.card.register input#user_email,
.card.edit-user input#user_email,
.card.thread input#root_post_subject
{
    border-radius: 3px 3px 0 0;
}

.card.login input#user_password,
.card.register input#user_password_confirmation,
.card.edit-user input#user_current_password,
.card.thread textarea#root_post_body
{
    border-radius: 0 0 3px 3px;
}
.card.child_post textarea#child_post_body { border-radius: 3px; }

.card.login input#user_remember_me
{
    display: inline-block;
    height: initial;
    position: relative;
    top: 2px;
    width: initial;
}

.card.thread textarea,
.card.child_post textarea
{
    width: 240px;
    height: 200px;
    padding: 5px;
    border: none;
    background: var(--white);
}

.card.login label
{
    display: inline-block;
}

.card.edit-user input.delete-account
{
    border-radius: 3px;
    background: var(--red);
}

/******************************************************************

Navbar

*******************************************************************/

.container
{
    padding: 33px;
    margin-top: 56px;
}

.nav
{
    display: flex;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    background: var(--base01);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

.nav-left
{
    display: flex;
    flex-grow: 1;
}

.nav-right
{
    padding: 10px;
}

.nav .home
{
    width: 56px;
    background: var(--base03);
}

.nav .home a
{
    padding: 15px;
    font-size: 25px;
    line-height: 50px;
    text-decoration: none;
}

.nav .current-uri
{
    padding: 0 15px;
    line-height: 55px;
    font-size: 25px;
    background: var(--base02);
}

.nav-right,
.account-links
{
    color: var(--font01);
    float: right;
}

.account-links a
{
    color: var(--font01);
}

/******************************************************************

Posts

*******************************************************************/
.new-thread
{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 70px;
    border-radius: 99999px;
    background: var(--blue);
}

.new-thread i.material-icons
{
    width: 55px;
    height: 55px;
    border-radius: 99999px;
}

.post-form
{
    position: fixed;
    bottom: -295px;
    right: 33px;
    width: 250px;

    border-radius: 3px;
    background: var(--white);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
    transition: bottom 0.1s;
}

.post-form:hover
{
    bottom: -10px;
}

.post-form .form-handle
{
    border-radius: 3px 3px 0px 0px;
    text-align: center;

    color: var(--base01);
    background: var(--white);
}

.post-form textarea
{
    resize: none;
    width: 240px;
    height: 200px;
    padding: 5px;
    border: none;
    border-radius: 0 0 3px 3px;
    background: var(--white);
}

.post-form input#child_post_picture
{
    padding: 0 5px;
    width: calc(100% - 10px);
    color: var(--base01);
}

.post-form input[type="submit"]
{
    height: 30px;
    padding: 5px;
    border: 0;
    width: 100%;
    color: var(--white);
    background: var(--green);
}

.post a.anchor
{
    position: relative;
    top: -80px;
}

/*      full        */
.post
{
    display: flex;
    margin-bottom: 10px;
    
    padding: 20px;
    border-radius: 3px;
    background: var(--base01);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

.post-left-col
{
    flex-grow: 100;
    padding-right: 20px;
}

.user-name { color: var(--blue) }
.subject { color: var(--red) }
.id { color: var(--green) }
.id a { color: var(--green) }
.timestamp-created { color: var(--yellow) }
.timestamp-edited { color: var(--magenta) }

.post-details
{
    display: inline-block;
}

.post-detail,
.post-links
{
    display: inherit;
}

.post-links
{
    float: right;
    min-width: 80px;
    margin-bottom: 10px;
}

.post-links a
{
    float: right;
}

.post a.delete:hover
{
    color: var(--red);
}

.post .body p
{
    margin-bottom: 0;
    word-break: break-word;
}

/*      card        */
.threads.card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-card
{
    display: flex;
    flex-direction: column;
    
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

.post-card .post-image
{
    border-radius: 3px 3px 0 0;
    background: var(--base03);
}

.post-card .post-image a {margin: 15px;}

.post-card .post-image img
{
    margin-top: 2px;
    padding: 10px;
}

.post-card .details
{
    padding: 10px;
    background: var(--base02);
}

.post-card .details.has-subject .subject:before
{
    content: '';
    display: block;
    height: 1px;
    width: 230px;
    background: var(--base03);
}

.post-card.no-image .details { border-radius: 3px 3px 0 0; }

.post-card .details .top-row
{
    display:flex;
    justify-content: space-between;
}

.post-card .details .count { color: var(--green); }

.post-card .body
{
    padding: 10px;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 0;
    background: var(--base01);
}

.post-card .body p {
    margin: 0;
    word-break: break-word;
}

.post-card .post-card-links .links-wrapper
{
    display: flex;
    flex-direction: row-reverse;
    line-height: 10px;
    border-radius: 0 0 3px 3px;
}

.post-card .post-card-links a
{
    flex-grow: 1;
    padding: 5px;
    text-align: center;
    color: var(--font01);
    background: var(--base01);
    transition: background 0.2s;
}

.post-card .post-card-links a.link { border-radius: 0 0 3px 3px; }
.post-card.owned .post-card-links a.link { border-bottom-left-radius: 3px; border-bottom-right-radius: 0; }
.post-card .post-card-links a.link:hover { background: var(--blue); }
.post-card .post-card-links a.edit:hover { background: var(--green); }
.post-card .post-card-links a.delete:hover { background: var(--red); }
.post-card .post-card-links a.delete { border-bottom-right-radius: 3px; }
