/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 */
 $green:   #87AF5F !default;
 $yellow:  #E0E07E !default;
 $orange : #f9a25a !default;
 $red:     #AB5454 !default;
 $pink:    #CF4E89 !default;
 $purple:  #9355b5 !default;
 $indigo:  #775fce !default;
 $blue:    #4579BF !default;
 $cyan:    #4EBADC !default;
 $teal:    #58CFB1 !default;

 $white:   #E8E8E8 !default;
 
 $colors: (
   blue: $blue,
   indigo: $indigo,
   purple: $purple,
   pink: $pink,
   red: $red,
   orange: $orange,
   yellow: $yellow,
   green: $green,
   teal: $teal,
   cyan: $cyan,
   white: $white,
 ) !default;
 
 $theme-colors: (
   primary: $blue,
   success: $green,
   info: $cyan,
   warning: $yellow,
   danger: $red,
 ) !default;

@import "bootstrap";
@import "rouge";
@import "sidebar";
@import "rooms";
@import "boards";
@import "posts";
@import "forms";

:root
{
    --font01:  #E8E8E8;
    --font02:  #A9A598;
    --font03:  #848176;
    --base01:  #4B4B4B;
    --base02:  #444444;
    --base03:  #3C3C3C;
    --bg:      #313131;
}

body
{
    background: var(--bg);
    font-family: 'Open Sans', sans-serif !important;
}

body > .alert
{
    position: relative;
    top: 56px;
    z-index: 1030;
}

.card
{
    border: none;
    background: var(--base01);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.post-form
{
    position: fixed;
    bottom: 0;
    right: 0;
}

pre.highlight { padding: 15px 0; }
.info-page pre.highlight { padding: 15px; }

.highlight,
.highlight .w
{
    border-radius: 3px;
    background: var(--bg);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

hr
{
    height: 2px;
    border-width: 0;
    background-color: var(--base02);
}
hr.rainbow {
    border: 0;
    height: 5px;
    background: -moz-linear-gradient(left,    $green 0%, $green 12.5%, $yellow 12.5%, $yellow 25%, $orange 25%, $orange 37.5%, $red 37.5%, $red 50%, $purple 50%, $purple 62.5%, $indigo 62.5%, $indigo 75%, $blue 75%, $blue 87.5%, $cyan 87.5%, $cyan 87.5%, $cyan 100%);
    background: -webkit-linear-gradient(left, $green 0%, $green 12.5%, $yellow 12.5%, $yellow 25%, $orange 25%, $orange 37.5%, $red 37.5%, $red 50%, $purple 50%, $purple 62.5%, $indigo 62.5%, $indigo 75%, $blue 75%, $blue 87.5%, $cyan 87.5%, $cyan 87.5%, $cyan 100%);
    background: -o-linear-gradient(left,      $green 0%, $green 12.5%, $yellow 12.5%, $yellow 25%, $orange 25%, $orange 37.5%, $red 37.5%, $red 50%, $purple 50%, $purple 62.5%, $indigo 62.5%, $indigo 75%, $blue 75%, $blue 87.5%, $cyan 87.5%, $cyan 87.5%, $cyan 100%);
    background: -ms-linear-gradient(left,     $green 0%, $green 12.5%, $yellow 12.5%, $yellow 25%, $orange 25%, $orange 37.5%, $red 37.5%, $red 50%, $purple 50%, $purple 62.5%, $indigo 62.5%, $indigo 75%, $blue 75%, $blue 87.5%, $cyan 87.5%, $cyan 87.5%, $cyan 100%);
    background: linear-gradient(to right,     $green 0%, $green 12.5%, $yellow 12.5%, $yellow 25%, $orange 25%, $orange 37.5%, $red 37.5%, $red 50%, $purple 50%, $purple 62.5%, $indigo 62.5%, $indigo 75%, $blue 75%, $blue 87.5%, $cyan 87.5%, $cyan 87.5%, $cyan 100%);
}

mark
{
    background-color: yellow;
}

table 
{
    border-collapse: collapse;
    padding: 10px;
    background: var(--bg);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

thead { background: $blue; }

th, td
{
    padding: 10px;
    border: 1px var(--base02) solid;
}

blockquote
{
    background: var(--base02);
    border-left: 10px solid $green;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before
{
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after { content: no-close-quote; }

blockquote p { display: inline; }

.spoiler { border-left: 10px solid $red; background: var(--base03);}

.spoiler:before { content: no-open-quote; }

.spoiler,
.spoiler > * 
{
    transition: color 0.1s, opacity 0.1s
}

.spoiler:not(:hover)
{
    color: transparent;
}

.spoiler:not(:hover) > *
{
    opacity: 0
}

a.quote
{
    text-decoration: none;
    color: var(--font02);
}
a.quote:hover { color: var(--font01);}

.img-expand
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.49);
    z-index: 9999;
}

.img-expand img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75vh;
    max-width: 85vw;
}

@include media-breakpoint-only(xs) {
    // .row
    // {
    //     margin-left: 0;
    //     margin-right: 0;
    // }
}

.graph-card
{
    background: $white;
    padding: 25px;
    margin-bottom: 25px;
}

.easy-autocomplete
{
    width: initial !important;
}

.username-string
{
    &.green   { color: $green !important; }
    &.yellow  { color: $yellow !important; }
    &.orange  { color: $orange !important; }
    &.red     { color: $red !important; }
    &.pink    { color: $pink !important; }
    &.purple  { color: $purple !important; }
    &.indigo  { color: $indigo !important; }
    &.blue    { color: $blue !important; }
    &.cyan    { color: $cyan !important; }
    &.teal    { color: $teal !important; }
}
