// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.board-link
{
  margin-right: 1.25rem;

  ol { background: var(--base01); }

  &.site-info
  {
    .breadcrumb-item.info
    {
      height: 24px;
    }
  }

  .breadcrumb-item.active { color: var(--font01); }
}

body > .container {
  @include media-breakpoint-only(xs) {
    padding: 30px 50px !important;
  }
}

// show
.card-columns#card_big {
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}
.card-columns#card_small {
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

#v-pills-threads .card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}
