.post
{ 
    background: var(--base03) !important;

    &.post-full.sticky { border-left: var(--cyan) 0.45rem solid; }
    &.card-normal.sticky, 
    &.card-overlay.sticky { border-top: var(--cyan) 0.45rem solid; }

    .replies
    {
        padding: 0 10px;
        border-radius: 0 0 3px 3px;
        background: var(--base02);
        
        .reply
        {
            position: relative;
            bottom: 2px;
            color: var(--font01);
            display: inline;

            i
            {
                position: relative;
                top: 5px;
            }
        }
        
        .reply a { color: var(--font01); }
        .reply:hover a { color: var(--font02); }
    }
}

.post.embedded
{
    margin: 2rem;
    outline: var(--bg) 1px solid;
}

.post.embedded + .post.embedded
{
    margin-top: 0;
}

.post-full
{
    margin-bottom: 25px;
    
    .card-body
    {
        border-radius: 0.25rem;
        background: var(--base01) !important;
        
        &.replies-after
        {
            border-radius: 0.25rem 0.25rem 0 0;
        }
    }

    .quote + .post
    {
        margin: 0;
    }

    .post-details { display: inline-block; }
    .post-detail { margin-right: 3px; }

    .post-detail,
    .post-links
    {
        display: inherit;
    }

    .post-detail#user-name { color: var(--blue) }
    .post-detail#subject { color: var(--red) }
    .post-detail#id a { color: var(--green) }
    .post-detail#count { color: var(--green) }
    .post-detail#timestamp-created { color: var(--yellow) }
    .post-detail#timestamp-edited { color: var(--magenta) }

    .post-detail#id a
    {
        text-decoration: underline;
        cursor: pointer;
    }
}

.post-header
{
    font-size: 0.8rem;    
    margin-bottom: 10px;
}

.post-actions
{
    .btn
    {
        padding: 0 0.5rem;
        border: none;
        background: none;
    }
}

.post:not(.post-full)
{
    background: var(--base02) !important;
    .card-body
    {
        border-radius: 0.25rem;
        background: var(--base01);
    }
    
    .card-header + .card-body
    {
        border-radius: 0 0 0.25rem 0.25rem;
    }

    .card-text
    {
        max-height: 99px;
        overflow: hidden;
        font-size: 0.8rem;
    }
}

.card-text
{
    font-size: 0.8rem;
}

.post .card-text
{
    word-break: break-all;
    text-align: justify;
}

.card-normal
{
    .btn-primary
    {
        height: 38px;
    }
}

.card-img-container
{
    max-height: 300px;
    overflow: hidden;
    border-radius: 0.25rem;
}
.card-img-overlay
{
    overflow: hidden;
    border-radius: 0.25rem;
    transition: background 0.25s;
    background: rgba(0,0,0,0.5);
}

.card-overlay
{
    a
    {
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
    }
}
