.room-link {
    margin-right: 1.25rem;
    ol {
        background: var(--base01);
    }
}

.room-header
{
    // height: 30px;
    padding: 14px 10px;
    font-size: 1.5rem;
    background: var(--base03);
    color: var(--font02);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
    z-index: 1029;
    
    .room-name
    {
        color: var(--font01);
        display: inline-block;
    }

    i.material-icons
    {
        position: relative;
        top: 5px;
    }
    .room-connection,
    .room-actions
    {
        display: inline-block;
    }

    .status,
    .icon
    {
        display: inline-block;
    }

    .status { margin-right: 5px; }
    
    .icon
    {
        width: 15px;
        height: 15px;
        position: relative;
        top: 1px;
        margin-right: 10px;
        border-radius: 90px;
        display: inline-block;
        background: var(--base03);
    }

    #unknown
    {
        .icon
        {
            background: var(--font03);
        }
    }
    #connected
    {
        .icon
        {
            background: var(--blue);
            animation: status-connected 1.5s infinite linear;
        }
    }
    #streaming
    {
        .icon
        {
            background: var(--green);
            animation: status-streaming 2s infinite;
        }
    }
    #disconnected
    {
        .icon
        {
            animation: status-disconnected 4s infinite;
        }
    }
}

@keyframes status-connected
{
    0% {
        border: var(--base03) 7px solid;
    }
    100% {
        border: var(--cyan) 0px solid;
    }
} 
@keyframes status-streaming
{
    0% {
        box-shadow: 0 0 0 0px rgba(157, 181, 95, 0.8);
    }
    100% {
        box-shadow: 0 0 0 10px transparent;
    }
} 
@keyframes status-disconnected
{
    0% {
        background: var(--red);
    }
    50% {
        background: var(--magenta);
    }
    100% {
        background: var(--red);
    }
} 


[data-behavior="messages"]
{
    padding-bottom: 50px;
}

.message
{
    strong
    {
        padding-right: 2rem;
    }

    .timestamp
    {
        color: var(--font03);
    }

    .details
    {
        strong
        {
            color: var(--cyan);
        }
    }
    .body
    {
        word-break: break-all;
    }
}

@include media-breakpoint-up(lg)
{
    .room-header
    {
        margin-left: 250px;
    }
    [data-behavior="messages"]
    {
        padding-top: 40px;
    }
    
    form#new_message
    {
        width: calc(100% - 300px);
    }
}

@include media-breakpoint-down(md)
{
    .room-header
    {
        top: 56px;

        .room-connection .status {display: none;}
    }
    [data-behavior="messages"]
    {
        padding-top: 40px;
    }
    form#new_message
    {
        width: calc(100% - 50px);
    }
}


form#new_message
{
    position: fixed;
    bottom: 20px;
}

.form-wrap
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: var(--bg);
}
