.navbar
{
    background: var(--base01);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

.nav-item
{
    ul
    {
        padding-left: 25px;
        list-style-type: none;
    }
}

.nav-bread
{
    .breadcrumb
    {
        padding: 0;
        margin-bottom: 0;
        background: transparent;

        .breadcrumb-item.active
        {
            color: rgba(232, 232, 232, 0.5);
        }

        .nav-link
        {
            padding: 0;
            height: 24px;
        }
    }
}

@include media-breakpoint-up(lg)
{
    body > .container-fluid
    {
        margin-left: 250px;
        padding: 25px;
        width: calc(100% - 250px);
    }
    .side-nav {
        overflow: auto;
        top: 0px;
        width: 250px;
        height: 100%;
    }
    .nav-bread
    {
        padding: 0.5rem;
    }
    #members-nav
    {
        position: fixed;
        top: 0;
        right: 0px;
        z-index: 1030;

        .user
        {
            margin-bottom: 5px;
        }

        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 3px;
            margin-right: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--bg);
        }
    }
    .navbar-expand-lg
    {
        display: initial;
    }
    .navbar-expand-lg .navbar-nav
    {
        flex-direction: column;
        
        &,hr
        {
            width: 100%;
        }
    }
    
    li#logout
    {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 250px;
        background: var(--base02);
    }
    .lg-up-only
    {
        display: block;
    }
}
@include media-breakpoint-down(md)
{
    body > .container-fluid
    {
        padding: 25px;
    }
    #members-nav
    {
        display: none;
    }
    .nav-bread
    {
        padding: 0.5rem 0;
    }
    nav hr
    {
        display: none;
    }
    body > .container-fluid
    {
        margin-top: 56px;
    }
}
