.navbar
{
    background: var(--base01);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

.nav-item#nav-home
{
    ul
    {
        padding-left: 5px;
        list-style-type: none;
    }
    li
    {
        margin-bottom: -4px;
    }
    li::before
    {
        content: '├';
        display: inline-block;
        width: 1.5rem;
    }
    li:last-of-type
    {
        margin-bottom: inherit;
    }
    li:last-of-type::before
    {
        content: '└';
    }
}

.nav-bread
{
    .breadcrumb
    {
        padding: 0;
        margin-bottom: 0;
        background: transparent;

        .breadcrumb-item.active
        {
            color: rgba(232, 232, 232, 0.5);
        }

        .nav-link
        {
            padding: 0;
            height: 24px;
        }
    }
}

hr.admin-section
{
    background: $red;
    &::after
    {
        display: block;
        position: relative;
        float: right;
        width: 1.5rem;
        height: 1.5rem;
        content: 'A';
        text-align: center;
        color: var(--font01);
        background: $red;
    }
}

.unread::after
{
    display: inline-block;
    position: relative;
    left: 10px;
    width: 10px;
    height: 10px;
    
    content: '';
    border-radius: 999px;
    background: $cyan;
}

.thread-stats
{
    display: flex;

    .updater
    {
        cursor: pointer;
    }
}

@include media-breakpoint-up(lg)
{
    body > .container-fluid
    {
        margin-left: 250px;
        padding: 25px;
        width: calc(100% - 250px);
    }
    .side-nav {
        overflow: auto;
        top: 0px;
        width: 250px;
        height: 100%;
    }
    .nav-bread
    {
        padding: 0.5rem;
    }
    #members-nav
    {
        position: fixed;
        top: 0;
        right: 0px;
        z-index: 1030;

        .user
        {
            margin-bottom: 5px;
        }

        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 3px;
            margin-right: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--bg);
        }
    }
    .navbar-expand-lg
    {
        display: initial;
    }
    .navbar-expand-lg .navbar-nav
    {
        flex-direction: column;
        
        &,hr
        {
            width: 100%;
        }
    }
    
    li#logout
    {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 250px;
        background: var(--base02);
        transition: background 0.2s, color 0.2s;
        
        &:hover
        {
            background: $red;
            color: $white;
        }
    }


    .lg-up-only
    {
        display: block;
    }
}
@include media-breakpoint-down(md)
{
    body > .container-fluid
    {
        padding: 25px;
        margin-top: 56px;
    }
    #members-nav
    {
        display: none;
    }
    .nav-bread
    {
        padding: 0.5rem 0;
    }
    nav hr
    {
        display: none;
    }
}
